<launch>
<!-- name of the robot. Does not need to be changed -->
<arg name="robot" value="datagrabber"/>

<!-- true to see all images and rviz -->
<arg name="display" default="false"/>

<!-- AD_SERVERS:  MCP -->
<include file="$(find ad_core)/launch/ad_servers.launch">
  <arg name="robot" value="$(arg robot)" />
</include>

<!-- use NITE -->
<!--
<param name="/$(arg robot)/user/compressed" value="png"/>
-->
<include file="$(find kinect)/launch/nite_node_local.launch">
  <arg name="robot" value="$(arg robot)" />
</include>

<!--convert Kinect to laser scans -->
<include file="$(find kinect)/launch/kinect2laserscan.launch">
  <arg name="robot" value="$(arg robot)" />
</include>



<!-- geometrics transforms = TF -->
<group ns="$(arg robot)">
  <!-- TF floor -> Kinect (setup the height of the Kinect foot) -->
  <!-- x y z roll pitch yaw  - negative pitch to look upwards -->
  <node pkg="tf" type="static_transform_publisher" name="floor2kinect_tf_broadcaster"
  args="0 0 1   0 -.1 0   floor  $(arg robot)_camera_link    100"/>
</group>

<!-- speaker recognition ??? -->
<!-- #### Automatic Speech Recognition (Loquendo And Google ASR) -->
<!--<include file="$(find asr)/launch/loquendo_asr.launch">
    <arg name="robot" value="$(arg robot)" />
</include>

<include file="$(find speaker_identification)/launch/speaker_identification.launch">
  <arg name="robot" value="$(arg robot)_mic" />
</include>-->


<!-- display -->
<include if="$(arg display)" file="$(find vision_utils)/launch/database_viewer.launch">
  <arg name="robot" value="$(arg robot)" />
</include>

<!-- convert data streams to images files.
To annotate image, use GUI:
$ ~/user_image_annotator/build/user_image_annotator /tmp/*depth.png

old version:
<group ns="$(arg robot)">
  <node pkg="people_detection_vision" type="rlpd_grabber.exe"
        name="rlpd_grabber"  output="screen"
        args="_display:=true  _canny_thres1:=.8 _canny_thres2:=1.0
              _min_comp_size:=2000  _min_comp_z:=.8  _max_comp_z:=2
              _update_background:=false
              _depth_bg_model_filename_prefix:=$(find vision_utils)/data/images/depth/mini_bg
              " />
</group>
-->
<group ns="$(arg robot)">
  <node pkg="people_detection_vision" type="rlpd_grabber.exe"
        name="rlpd_grabber"  output="screen"
        args="" />
</group>
</launch>
