<launch>
<arg name="robot" value="nite_only"/>
<include file="$(find kinect)/launch/nite_node_local.launch">
  <arg name="robot" value="$(arg robot)" />
</include>

<group ns="$(arg robot)">
  <node pkg="vision_utils" type="foo_nite_subscriber"
        name="foo_nite_subscriber" output="screen" required="true"
        args="" />
</group>
</launch>

